@import "../../bower_components/bootstrap/less/bootstrap.less";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // background: url('img/grey.png');
    overflow: hidden;
}

footer {
    margin: 0.5em 0;
    text-align: center;
}


#map {
    height: 100vh;
}

header {
    width: 100%;
    background-color: #FFF;
    // min-height: 200px;
    position: absolute;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
    border-bottom: 1px solid #DDD;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0.5em;
}

h2 {
    text-align: center;
}


.bubble {
    text-align: center;
    color: #333;
    padding: 10px 0 10px 20px;

    strong {
        font-size: 1.6rem;
    }
    .info {
        margin-top: 0.5em;
    }
}
