// @import "../../bower_components/bootstrap/less/bootstrap.less";


@header-height: 50px;
@sidepanel-width: 200px;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // background: url('img/grey.png');
    // overflow: hidden;
}


// #logo {
//     max-width: 20px;
// }

footer {
    margin: 0.5em 0;
    text-align: center;
}


#map {
    // height: (100vh - @header-height);
    // margin-top: @header-height;
    // box-sizing: border-box;
    position: absolute;
    top: @header-height;
    left: 0;
    right: 0;
    bottom: 0;
}

#sidepanel {
    position: absolute;
    top: @header-height;
    left: -(@sidepanel-width + 20px);
    bottom: 0;
    width: @sidepanel-width;
    background-color: #FFF;
    box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.2);

    transition: left ease-in-out 0.3s;

    &.onscreen {
        left: 0;
    }

    #filter {
        img {
            width: 24px;
            margin-left: 5px;
        }
    }

    #hide-filter {
        margin-top: 15px;
        font-size: 2em;
    }
}

header {
    width: 100%;
    background-color: #FFF;
    // min-height: 200px;
    position: absolute;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
    border-bottom: 1px solid #DDD;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0.5em 0;
}

h2 {
    text-align: center;
    font-size: 1.2em;
}


.bubble {
    text-align: center;
    color: #333;
    padding: 10px 0 10px 20px;

    strong {
        font-size: 1.6rem;
    }
    .info {
        margin-top: 0.5em;
    }
}

// bootstrap changes
nav.navbar {
    margin-bottom: 0;
    border-width: 0;
}
.navbar-header {
    font-weight: bold;
}
.navbar-default .navbar-brand {
    color: #111;

    &:focus,
    &:hover {
        color: #333;
    }
}
.navbar-default .navbar-nav>li>a {
    color: #111;

    &:focus,
    &:hover {
        color: #333;
    }
}
