doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="description", content="Demonstration of graphs and graph algorithms in CoffeeScript using JS framework jsnetworkx.")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        
        title Graph Algorithms
        
        link(rel="stylesheet", href="app.css")
        script(src="libs.min.js")
        
    body

        .container
            .row
                .col-xs-12
                    h1 Graph Algorithms
                    p Click any of blue buttons to generate graph.
            
            .row
                .col-xs-12.col-sm-8
                    div#canvas   
                    
                .col-xs-6.col-sm-2
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        a(id='k' + i).button= 'K' + i
                        
                .col-xs-6.col-sm-2
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        a(id='c' + i).button= 'C' + i
            
                    
        script(src="app.js")
